/* ヘッダー、サイド基本装飾 */

.btn-menu a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.btn-menu li {
  padding: 2rem 0;
}

.btn-menu nav li:hover{
  background-color: gray;
}

/* ボタン */
.btn-menu {
  float:left;
  border: 1px solid #9cf;
  background: transparent;
  color: #fff;
  padding: .5rem 1rem;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}

/* メニュー */
nav {
  background: #333;
  position: absolute;
  z-index: 1;
  top: 3.125rem;
  left: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  height: 100%;
  transition: .5s;
}
/* メニューを開いた時 */
nav.open-menu {
  width: 25%;
  height: 100%;
}

