html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


body {
  font-family:"Meiryo UI";

}

li {
 list-style:none;
}



header {
  background-color:lightsteelblue;
  color:#fff;
  height:85px;
  width:100%;
  margin-bottom: 35px;
  z-index:10;
  top:0;
}


@media screen and (max-width: 959px){
  header{
    width :959px;
  }

  .head-container {
    width : 959px;
    }
}

@media screen and (max-width:480px){
  header{
    width :480px;
  }

  .head-container {
    width:480px;
  }
}


.head-container{
   width:1250px;
   margin:0 auto;
}



.header-logo {
  float:left;
  margin-top:21px;
  font-size:34px;
  color:white
}




.header-menu{
  float:right;
  height:85px;
  width:150px;
  background-color: lightsteelblue;
  white-space: nowrap;
  overflow: hidden;
  transition:width 0.4s ease-in;
  transition:height 0.4s ease-in;
  transition-delay: 0.3s;

}

@media screen and (max-width:959px){
  .head-container ul{
    float:right;
    width: auto;
  }

  .header-menu:hover{
    width: auto;
  }
}

@media screen and (max-width:480px){
  .head-container ul{
    float:right;
    width: auto;
  }
  .header-menu:hover{
    width: auto;
  }
}


.header-menu:hover{
  width:300px;
  height: auto;
}

.brand{
  text-align:center;
  font-size:18px;
  margin-top: 40px
  color:white;
  height:85px;

}

.menu-item{
  text-align:center;
}

.menu-item a{
  color:white;
  border:none;
}

.menu-item:hover{
  background-color:blue;
  cursor: pointer;
}


.up-date{
  float:left;
}


.top-wrapper{
  background-size: cover;
  margin:0 auto;
}

.container-1{
  height:400px;
}

.container,.container-1{
  width: 100%;
  margin-top:8px;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (max-width:959px){
  .container,.container-1{
    width:auto;
    margin-top:5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width:480px){
  .container,.container-1{
    width: auto;
    height:auto;
  }
}

.text{
  margin-bottom:10px;
  font-size:16px;
}


.poster{
  float: left;
  }


.poster img{
  margin: 0 0 0 50px;
  height:350px;
}



.container h1,.container-1 h1{
  font-size:28px;
  text-align: center;
  margin:20px;
  background-color:lightsteelblue;
  color:white;
  box-sizing: border-box;
}


.container h2{
  text-align: center;
  margin:13px 0 13px 0;
}

.container h3{
  text-align:center;
  margin:10px 0;
}


.container p,.container-1 p{
  margin-bottom:15px;
  font-size:10px;
}

img.icon {
  border:solid 1px gray;
}


img.video{
  width:750px;
  height:490px;
  border:solid 1px gray;
}

@media screen and (max-width:959px){
  img.video{
    width:70%;
    height: 70%;
    border: solid 1px gray;
  }
}


@media screen and (max-width:480px){
  img.video{
    width :40%;
    height: 40%;
  }
}


.temps-icon {
  margin:4px;
  border:solid 1px gray;
}

@media screen and (max-width:959px){
  .temps-icon{
    width: 80%;
    height: 80%;
  }
}

@media screen and (max-width:480px){
  .temps-icon{
    width: 50%;
    height: auto;
  }
}

.lesson-wrapper-1{
  margin-top: 45px;
}

.re-photo{
  text-align: center;
}

.photo-icon{
  margin: 4px;
  height: 450px;
  border:solid 1px gray;
}

.poster-icon{
  margin: 4px;
  height:350px;
  border:solid 1px gray;
}

.lpsample{
  width: 65%;
  height: auto;
  border:solid 1px gray;
}

#omikuji {
  text-align: center;
  width: 294px;
  background-color: #EDA;
  border: 3px double #990;
  text-align: center;
}

#omikuji > h1 {
  color: #630;
  font-family: serif;
}

#omikuji > #output > h2 {
  font-size: 70px;
  font-family: serif;
  margin: 0;
  text-shadow: 0 -1px 0 #222;
}

#omikuji > #output > p {
  font-size: 15px;
  font-family: serif;
  margin: 0;
}

#omikuji > #output {
  background-color: #C00;
  color: #FFF;
  margin: 10px auto;
  padding: 5px;
}

#omikuji > #btn {
  background: #740;
  border: 0;
  color: #FFF;
  cursor: pointer;
  font-size: 20px;
  font-family: serif;
  margin: 10px auto 20px auto;
  padding: 5px 20px;

}

#omikuji > #btn:hover {
  background: #960;
}

#omikuji > #btn:active {
  background: #630;
}




footer{
  background-color:lightsteelblue;
  color:#fff;
  height:85px;
  width:100%;
  margin-top:40px;
}


.footer-list li{
  float:right;
  font-size:18px;
  padding: 33px 20px;
}
