html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}


body {
  font-family:"Avenir Next";

}

li {
 list-style:none;
}



header {
  background-color:gray;
  color:#fff;
  height:85px;
  width:100%;
  z-index:10;
  top:0;
}



.head-container{
   width:1250px;
   margin:0 auto;
}



.header-logo {
  float:left;
  margin-top:25px;
  font-size:34px;
  color:white
}


.header-submit li{
  float:right;
}


input {
  color:black;
  margin:33px 3px 33px 20px;
}


.contact-submit{
  color:black;
  margin: 33px 8px 33px 2px;
}


.header-list li{
  float:right;
  font-size:18px;
  padding: 33px 20px;
}


.top-wrapper{
  background-size: cover;
  margin:0 auto;
}

.container{
  width: 100%;
  text-align: center;
}


.text{
  margin-bottom:10px;
  font-size:16px;
}


@media(max-width:670px){
  .pic{
    flex-direction:column;
  }
  .pic img{
    margin:0 auto;
  }
}


.container h1{
  font-size:28px;
  margin:20px;
  background-color:gray;
  color:white;
}


.container h2{
  margin:13px 0 13px 0;
}


.container p{
  margin-bottom:15px;
  font-size:10px;
}

.video{
  width:750px;
  height:490px;
  border:solid 1px black;
}


footer{
  background-color:gray;
  color:#fff;
  height:85px;
  width:100%;
  margin-top:40px;
}


.footer-list li{
  float:right;
  font-size:18px;
  padding: 33px 20px;
}
